@import "tailwindcss";

@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 100 900;
  src: url(/src/assets/fonts/Outfit-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Anuphan";
  font-style: normal;
  font-weight: 100 900;
  src: url(/src/assets/fonts/Anuphan-VariableFont_wght.ttf);
}

@theme {
  --font-hero: "Outfit", "sans-serif";
  --font-copy: "Anuphan", "sans-serif";
  --font-wooliesheading: "Artifika", "serif";
  --font-wooliescopy: "Now", "sans-serif";

  --color-grey: "#312C2C";
  --color-black: "#0C0B0B";
  --color-textlight: "#EBF0F1";
  --color-lightblue: #1190ff;
  --color-blue: #2555ff;
  --color-purple: #783eff;
  --color-lightbg: #ebf2f4;
  --color-textgrey: #899198;
}

@font-face {
  font-family: "Artifika";
  src: url(/src/assets/fonts/Artifika-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "Now";
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/Now-Regular.otf);
}
